.grid{
    box-sizing: border-box;
    margin-left: 25%;
}

.big {
    padding-top: 30px;
    padding-right: 30px;
    width: 40%;
    float: left;
}

.big1 {
    padding-top: 30px;
    padding-left: 30px;
    width: 40%;
    float: left;
}

.big1 img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 50%;
}

.big img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 50%;
}

.small {
    padding-top: 30px;
    padding-left: 10px;
    width:50%;
    float: left;
    
}

.small1 {
    padding-top: 30px;
    padding-right: 10px;
    width:50%;
    float: left;
    
}

.small1 img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 50%;
}

.small img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 50%;
}