@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.column h1{
    font-size: 32px;
    margin-bottom: 0;
    line-height: 2rem;
}

.bullet{
    padding-left: 20px;
    list-style-type: disc;
}

.bullet li{

    font-size: 18px;
    line-height: 2rem;
}

.container{
    width: 95%;
}

.column p{
    font-size: 18px;
    line-height: 2rem;
}

.column h2{
    font-size: 18px;
    font-weight: 600;
    line-height: 2rem;
}

.column {
    float: left;
    padding-top: 5px;
}

.left{
    width: 25%;
    padding-left: 4%; 
}

.left{
    position:fixed;
}

.left p{
    margin-top: 10px;
}

.section1 {
    padding-bottom: 50px;
    justify-content: left;
    display: flex;
    margin-left: 25%;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: left;
    display: flex;
    margin-left: 25%;
}

.right {
    width: 100%;
}

.right .title {
    display: block;
    width: 35%;
    margin-right: 10px;
}

.content {
    width: 65%;
}

.right .content p {
    padding-right: 6%;
    text-align: left;
    word-wrap:break-word;
}

.content-with-pic {
    width: 65%;
}

.right .content-with-pic p {
    padding-right: 5%;
    text-align: left;
    word-wrap:break-word;
}

.mockup{
    width: 75%;
    column-span: all;
    margin-left: 25%;
    display:block;
    border-radius: 5px;
    border: 0 solid transparent;
    padding-right: 5%;
}

.my-role{
    margin-left: 25%;
    width: 75%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.my-role ul{
    column-count:3;
    display: block;
}

.my-role ul li{
    font-size: 18px;
    line-height: 2rem;
}

.my-role h2{
    margin: 0 0 10px 0;
}

.challenge{
    width: 584px;
    column-span: all;
    border-radius: 5px;
    border: 0 solid transparent
}

.caption{
    display:block;
    width: 40%;
    padding-left: 52%;
    padding-top: 20px;
}

.caption p{
    text-align: left;
    word-wrap:break-word;
}

.spanImage{
    width: 70%;
    column-span: all;
    margin-left: 25%;
    display:block;
    border-radius: 5px;
    border: 0 solid transparent;
    padding-right: 5%;
}

#topBtn{
    cursor:pointer;
    background-color: black;
    border: 1px solid black;
    border-radius: 50px; /* Rounded corners */
    font-weight: 400;
    font-size: 16px;
    color: white;
    font-family: inherit;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    width: 10%;
    padding-left: 4%;
    z-index: 99; /* Make sure it does not overlap */
    padding: 15px; /* Some padding */
    outline:none
}



#topBtn:hover {
    color: black;
    background-color: white;
  }