@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.column h1{
    font-size: 32px;
    margin-bottom: 0;
    line-height: 2rem;
}

.column p{
    font-size: 18px;
    line-height: 2rem;
}

.column h2{
    font-size: 18px;
    font-weight: 600;
    line-height: 2rem;
}

.column {
    float: left;
    padding-top: 5px;
}

.left{
    width: 25%;
    padding-left: 6%; 
}

.left{
    position:fixed;
}

.left p{
    margin-top: 10px;
}

.section {
    padding-bottom: 100px;
    justify-content: left;
    display: flex;
    margin-left: 28%;
}

.right {
    width: 100%;
}

.right .title {
    display: block;
    width: 35%;
    margin-right: 80px;
}

.content {
    width: 65%;
}

.right .content p {
    padding-right: 6%;
    text-align: left;
    word-wrap:break-word;
}

.my-role{
    margin-left: 28%;
    width: 65%;
    margin-top: 300px;
    margin-bottom: 150px;
}
.my-role ul{
    column-count:3;
    display: block;
}

.my-role ul li{
    font-size: 18px;
    line-height: 2rem;
}

.my-role h2{
    margin: 0 0 10px 0;
}
