::-moz-selection { background: #EB5600; color:white; }
::selection { background:#EB5600; color:white; }

img{
    height: auto;
}

body{
    position:relative;
}

nav{
    height: 100px;
    margin:0;
    padding:0;
    list-style: none;

}

nav img{
    width: 70px;
    position: absolute;
    top: 30px;
    left: 15%;
}

.nav-list{
    float: right;
    margin-right: 15%;
    text-decoration: none;
}

.nav-list li{
    display: inline-block;
    line-height: 120px;
    margin: 0 15px;
}

.nav-list li a{
    position: relative;
    color: black;
    font-size: 18px; 
    padding: 5px 0;
}

.nav-list li a:hover{
    text-decoration: none;
    color:#EB5600;
}

label{
    display:inherit;
}

label #btn,
label #cancel{
    color:#EB5600;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin-top: 20px;
}

#check{
    display: none;
}

.carddiv{
    margin-left:15%;
    margin-right:15%;
    margin-top: 100px;
}

.largetit1{
    margin: 10px 0px 25px 0px;
    font-size: 40px;
    line-height: 2.5rem;
    font-weight: 700;
}

#prototit{
    font-size:28px;
    font-weight:500;
    margin: 0px auto 0px auto;
    color:rgba(0,0,0,0.85);
}

.largetit{
    margin: 100px 0px 10px 0px;
    padding-bottom:5px;
    line-height:24px;
    font-size: 1.5rem;
    font-weight: 500;
    color:rgba(0,0,0,0.5);
}

.headingsec{
    width:880px;
    margin: 100px auto 0px auto;
}

.contentsec{
    width:680px; 
    margin: 50px auto 0px auto;
}

.scrollbarbox{
    position:fixed;
    margin-top: 50px;
    margin-left:50px;
    width: 220px;
    height: 190px;
    transition: all 1s;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-10%);
        opacity:0;
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-0.5%);
        opacity:0;
    }
    100% {
        opacity:1;
        transform: translateX(0);
    }
}

.movein {
    animation: 0.7s ease-out 0s 1 slideInFromTop;
}

#morecard{
    margin-top: 0px;
}

.moveright {
    animation: 0.7s ease-out 0s 1 slideInFromLeft;
}


.scroll_bar{
    margin-top:20px;
    height: 2px;
    width:100%;
    background: rgba(0,0,0,0.1);
}

#scroll_indicator{
    height:100%;
    width:0%;
    background:#EB5600;
}

.hide {
    transition: 0.5s;
    opacity: 0;
    left: -1%;
}

.show {
    opacity: 1;
    left: 0;
}

section{
    position:absolute;
    width:100%;
    height:100vh;
    overflow:hidden;
    z-index: -100;
}

section .wave{
    position: absolute;
    top: 600px;
    left: 0;
    width: 100%;
    height: 100px;
    background:url(../img/waves.png);
    background-size: 2000px 100px;
}

section .wave.wave1{
    animation: animate 35s linear infinite;
    z-index: 1000;
    opacity: 1;
    top: 630px;
    animation-delay:0s;
}

@keyframes animate{
    0%{
        background-position-x:0;
    }
    100%{
        background-position-x:1000px;
    }
}

section .wave.wave2{
    animation: animate2 65s linear infinite;
    z-index: 1000;
    opacity: 0.5;
    animation-delay:-20s;
    bottom: 10px;
}

@keyframes animate2{
    0%{
        background-position-x:0;
    }
    100%{
        background-position-x:1000px;
    }
}

section .wave.wave3{
    animation: animate 25s linear infinite;
    z-index: 1000;
    opacity: 0.2;
    animation-delay:-25s;
    top: 620px;
}

section .wave.wave4{
    animation: animate2 20s linear infinite;
    z-index: 1000;
    opacity: 0.7;
    animation-delay:-35s;
    top: 670px;
}




.moreproj{
    margin-top: 200px;
    width: 100%;
}

.baselink{
    font-size:20px;
    font-weight: 400;
    color: #EB5600;
    text-decoration: none;
}

.baselink:hover{
    color: #ecaa83;
    text-decoration:none;
}

.footer-tabs {
    border:1px transparent;
    margin-top:100px;
    margin-left:15%;
    margin-right:15%;
    margin-bottom: 50px;
    height: auto;
    border-style: none;
    width:85%;
}


.footer-link{
    display: block;
    padding: 0.5rem 1rem;
    color: rgb(0,0,0);

}


.footer-link:hover{
    color: #EB5600;
    text-decoration:none;
}


footer {
    display:flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
    margin-top:200px;
    margin-bottom: 50px;
    text-align:center;
}

.card{
    display:block;
    border-radius: 32px;
    border: 2px solid transparent;
    transition: 0.5s;
}

.card .cardimg{
    display:block;
    border: none;
    border-radius: 0px;
    transition: 0.1s ease-in;
    width:550px;
}

.card:hover {
    border: 2px solid #EB5600;
    border-radius: 32px;
}

.card:hover .cardimg{
    border-radius: 30px;
}

.prototype {
    width: 300px;
}

.prototypecontainer{
    display:flex;
    flex-direction:row;
    margin-top:50px;
    width: 680px;
    margin: 30px auto 50px auto;
}

.prototypecaption{
    display:flex;
    flex-direction:column;
    width: 100%;
    justify-content: center;
    padding-left:50px;
}

.prototypecaption {
    font-size: 21px;
    font-family: 'Hind Vadodara';
    width: 90%;
}

.description{
    font-size: 21px;
    padding-top: 20px;
    font-family: 'Hind Vadodara';
    color: rgba(0,0,0,0.75);
    letter-spacing: normal;
    width: 90%;
    height: 120px;
    line-height: 30px;
    margin-bottom: 0px;
}

.projectDescription{
    padding-left:48px;
    width:100%;
}

.title{
    font-size: 32px;
    letter-spacing: NORMAL;
    margin-top: 50px;
    color: rgba(0,0,0,0.5);
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: normal;
    width: 65%;
    margin-left: 0px;
    margin-bottom: 0px;
}

.subtitle{
    font-size: 21px;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 400;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
    height: 1.5rem;
    line-height: 0px;padding-top: 25px;
    color: rgba(0,0,0,0.5);
}

.subtitle1{
    font-size: 1.7rem;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 400;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
    height: 1.5rem;
    line-height: 0px;padding-top: 25px;
    color: rgba(0,0,0,0.5);
}

.cta{
    margin-top:auto;
    width:150px;
}


.name{
    margin-left: -2px;
    margin-top: 100px;
}

.icon{
    display:inline-block;
    width:60px;
}

.threecol{
    width: 750px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
}

.moretit{
    margin-left:15%;
    margin-bottom:0px;
}

.about{
    margin-top: 100px;
    margin-left:15%;
    margin-right:0;
    width: 85%;
    display:flex;
    flex-direction:row;
}

.portrait img{
    width: 650px;
}

.besideportrait{
    width: 40%;
    text-align: center;
    height: 432px;
    position: relative;
}

.besideportrait p{
    margin:0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.metitle{
    display: inline-block;
    font-weight: 700;
    width: auto;
    color:white;
    padding: 10px;
    background-color:#EB5600;
    font-size: 28px;
}

.highlight{
    width: 680px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.highlight img{
    width: 33%;
    height: auto;
}

.contentsect{
    width: 680px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

@media only screen and (max-width: 1280px) {

    .scrollbarbox{
        position:fixed; 
        width: 100%;
        height: 0px;
        margin-top:0px;
        margin-left:0px;
        transition: none;
    }

    .scroll_bar{
        margin-top:-8px;
        height: 3px;
        width:100%;
        background: rgba(0,0,0,0.1);
    }
    
    #scroll_indicator{
        height:100%;
        width:0%;
        background:#EB5600;
    }

    .totop{
        display:none;
    }

    .scrollcontent{
        display:none;
    }

    .card .cardimg{
        width: 660px;
    }

    .carddiv{
        display: flex;
        flex-direction: column!important;
        justify-content: center;
        align-items: center;
        margin: auto;
        width:660px;
        margin-top: 100px;
        margin-bottom: 95px; 

    }

    /*.carddiv:hover{
        display:block;
        border-style: solid;
    }*/ 

    .projectDescription{
        margin-top: 10px;
        padding-left: 0px;
        width:660px;
        position:relative;
    }

    .cta{
        position:absolute;
        top:6px;
        right:0;
    }


    .title{
        font-size:21px;
        margin-top:0px;
    }

    section .wave.wave1{
        top: 550px;
    }
    
    
    section .wave.wave2{
        animation: animate2 65s linear infinite;
        z-index: 1000;
        opacity: 0.5;
        animation-delay:-20s;
        bottom: 110px;
    }
    
    section .wave.wave3{
        animation: animate 25s linear infinite;
        z-index: 1000;
        opacity: 0.2;
        animation-delay:-25s;
        top: 520px;
    }
    
    section .wave.wave4{
        animation: animate2 20s linear infinite;
        z-index: 1000;
        opacity: 0.7;
        animation-delay:-35s;
        top: 570px;
    }

    .about{
        display:initial;
        margin-left:auto;
        margin-right:auto;
        width: 100%;
    }

    .portrait{
        padding-top: 100px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .portrait img{
        width: 100%;
        margin-left:auto;
        margin-right:auto;
        align-items: center;
        height: auto;
    }

    .besideportrait{
        width: 90%;
        text-align:start;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    
    .besideportrait p{
        margin:0;
        position: initial;
        top:0;
        left:0;
        transform: none;
    }
    
    #mecontent{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 1080px) {
    
    nav img{
        left: 5%;
    }

    .nav-list{
        margin-right:5%;
        
    }

    .contentsec{
        width: 90%;
    }

    .highlight{
        width: 100%;
    }

    .highlight img{
        width: 33%;
        height: auto;
    }

    .carddiv{
        display: flex;
        flex-direction: column!important;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 450px;
        margin-top: 100px;
        margin-bottom: 95px;
    }

    .name{
        font-size:56px;
    }

    .title{
        font-size:21px;
        margin-top:0px;
    }

    .headingsec{
      width: 90%;  
    }

    .contentsec{
        width: 90%; 
    }

    .unaligned{
        width: 90%;
    }

    .aligned{
        width: 90%;
    }

    iframe{
        width:90%;
        height:400px;
    }

    .content {
        font-size: 21px;
        font-family: 'Hind Vadodara';
        /*font-weight: 300;*/
        margin: 5px auto 0px auto;
        width: 90%;
        color: rgba(0,0,0,0.65);
        line-height: 34px;
    }

    .smalltit {
        font-size: 40px;
        font-family: 'Hind Vadodara';
        font-weight: 500;
        color: rgba(0,0,0,0.9);
        margin: 100px auto 10px auto;
        width: 90%;
        padding-bottom: 20px;
    }

    .caption {
        width: 90%;
    }

    .threecol{
        width: 90%;
    }

    .prototype {
        width: 35%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .prototypecontainer{
        display:initial;
        margin-top:50px;
        width: 90%;
        height: auto;
        margin: 30px auto 50px auto;
    }
    
    .prototypecaption{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 20px;
        padding:0;
    }
    
    .prototypecaption {
        font-size: 21px;
        font-family: 'Hind Vadodara';
        width: 90%;
    }
    
    .description{
        font-size: 21px;
        padding-top: 20px;
        font-family: 'Hind Vadodara';
        color: rgba(0,0,0,0.75);
        letter-spacing: normal;
        width: 100%;
        height: 120px;
        line-height: 30px;
        margin-bottom: 0px;
    }

    .footer-tabs {
        margin-left:0;
        margin-right:0;
        width:100%;
        justify-content:center;
    }

    .footer-link{
        display: block;
        padding: 0.5rem 1rem;
        color: rgb(0,0,0);
    }
    
}

@media only screen and (max-width: 880px) {

    nav img{
        left: 5%;
    }

    label #btn {
        display: block;
        margin-right: 5%;
    }

    .nav-list{
        position: fixed;
        top:0;
        padding-top: 80px;
        width: 100%;
        height: 100vh;
        background: #EB5600;
        left: -100%;
        text-align: center;
        padding-left:0;
        transition: all 0.5s;
        z-index:100;
    }

    #selected{
        color:white;
    }
    
    .nav-list li{
        display: block;
        margin: 50px 0;
        line-height: 10px;
    }

    .nav-list li a{
        color: white;
    }
    
    #check:checked ~ .nav-list{
        left:0;
    }

    #check:checked ~ label #btn{
        display: none;
    }

    #check:checked ~ label #cancel{
        display: block;
        position: fixed;
        color: white;
        z-index: 101;
        margin-right:5%;
        right:0px;
    }

}

@media only screen and (max-width: 660px) {


    nav img{
        top: 27px;
        width: 50px;
    }

    .nav-list li a{
        font-size: 16px; 
    }

    .nav-list li a:hover{
        color:white;
        font-size: 16px; 
        font-weight: 500;
    }

    label #btn,
    label #cancel{
    margin-top: 5px;
    }

    .carddiv{
        display: flex;
        flex-direction: column!important;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top:80px;
        margin-bottom:20px;
    }

    .card {
        width: 100%;
        margin-left: auto;
        margin-right:auto;
    }

    .card .cardimg{
        width: 100%;
    }

    .projectDescription{
        margin-top: 0px;
        width: 100%;
        position:relative;
    }

    .name{
        font-size:40px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        text-align: center;
    }

    .title{
        font-size:16px;
        margin-top:0px;
        padding-top:0px;
        text-align: center;
    }

    .description{
        font-size:16px;
        line-height:24px;
        padding-top: 16px;
        height: 80px;
    }

    .cta{
        display:none;
    }

    .subtitle1{
        font-size:21px;
    }

    .subtitle{
        font-size:16px;
        padding-top:20px;
    }

    .navbar-brand{
        width:10px;
    }

    .largetit{
        font-size:24px;
        line-height: 28px;
    }

    .largetit1{
        font-size:32px;
        line-height: 30px;
    }

    .aligned{
        margin-bottom: 20px;
    }

    .content {
        font-size: 16px;
        line-height: 34px;
        line-height: 28px;
    }

    .prototypecaption{
        font-size:16px;
    }

    .smalltit {
        font-size: 24px;
        line-height: 20px;
        margin-top: 40px;
    }

    #prototit{
        font-size:21px;
    }

    .caption {
        font-size: 12px;
    }

    .footer-link{
        font-size:14px;
    }

    .portrait{
        padding-top: 40px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}